<div class="cardContainer">
  <div class="normalCard <%= color || f2e4d1 %>">
    <% if (topText) { %>
      <h2 class="normalText"><%= topText %></h2>
    <% } %>
    <p class="normalText"><%= centerText %></p>
    <% if (bottomText) { %>
      <p class="normalText"><%= bottomText %></p>
    <% } %>
  </div>
</div>
