<script src="/js/main.js"></script>
<div class="content footer" style="gap: 2rem">
    <img src="https://i.imgur.com/vyE0G43.png">
    <div class="info">
        <p>Copyright © 2025 Literary Speaking Tutoring</p>
        <div class="info-link-container">
            <a class="info-link">About</a>
            <span>|</span>
            <a class="info-link">Receive Tutoring</a>
            <span>|</span>
            <a class="info-link">Become a Tutor</a>
            <span>|</span>
            <a class="info-link">Contact</a>
        </div>
    </div>
</div>
</body>
</html>