<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Literary Tutoring & Mentorship</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-nav">
        <div class="nav-left">
          <a href="/">
            <img
              src="/images/logo.png"
              alt="Literary Tutoring & Mentoring Logo"
              class="logo"
            />
          </a>
        </div>
        <div class="nav-right">
          <a class="nav-link" href="/support">Support Us</a>
          <a class="nav-link" href="/tutoring">Receive Tutoring</a>
          <a class="nav-link" href="/updates">Updates</a>
          <a class="nav-link" href="/team">The Team</a>
        </div>
      </div>
    </nav>