
<%- include('partials/header') %>
<link rel="stylesheet" href="/css/hero.css" />
  <div class="content hero">
    <h1>Be Mentored by a Tutor</h1>
    <h2>Free tutoring for those seeking academic assistance</h2>
    <a href="/tutoring" class="button">Receive Tutoring</a>
  </div>
</body>
    <%- include('partials/footer') %>
</html>
