<%- include('partials/header') %>

<div class="content">
  <h1>Be Mentored by a Tutor</h1>
  <h2>Free tutoring for those seeking academic assistance</h2>
  <a href="/tutoring" class="button">Receive Tutoring</a>
</div>

<%- include('partials/footer') %>
