.card {
    font-family: "Sen", sans-serif;
    width: calc((100% - 4rem) / 3);
    height: 250px;
    padding: 20px;
    text-align: center;
}

.blue-card {
    background-color: #76cae9;
    color: #0a1763;
}

.cardText {
    margin: 0 0 1rem 0;
    font-size: 1rem;
    color: #111f6e;
}

.normalText {
    font-size: 3.5rem;
    margin: 0;
}

.cardNumber {
    margin: 1rem 0;
    font-size: 5rem;
}

.cardLink {
    margin: 1rem 0 0 0;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

.normalCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2.5rem 0;
    padding: 2rem;
}