.hero {
  background-image: url(/images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  color: #fff;
  height: 100vh;
  z-index: 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 1;
}

.hero h1,
.hero h2,
.hero a {
  margin: 50px;
  z-index: 2;
}

.hero h1 {
  font-size: 60px;
}

.hero h2 {
  font-size: 40px;
}

.hero a {
  font-size: 30px;
}