body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #f8f9fa;
    padding: 1rem;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    color: #333;
}