body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

h2 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #333;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.button {
  color: #fff;
  width: 20rem;
  border: 3px solid;
  background-color: transparent;
  padding: 1rem;
}

.statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 2.5rem 0 2.5rem;
  gap: 2rem;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(4rem + 870px);
  padding: 2rem;
  font-size: 4rem;
  gap: 2rem;
}

.f2e4d1 {
  background-color: #f2e4d1;
}