body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-weight: 800;
}

a {
  text-decoration: none;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.button-white {
  color: #fff;
  width: 12rem;
  border: 3px solid;
  background-color: transparent;
  padding: 1rem;
}

.button-white:hover,
.button-white:active {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 2.5rem 0 2.5rem;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 4rem;
  width: calc(4rem + 870px);
  gap: 2rem;
}

.f2e4d1 {
  background-color: #f2e4d1;
}
